.mb-0{
    margin-bottom: 0 !important;
}
.ant-select {
    width: 100%;
}
.wrraped_country {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    .name_country {
        margin-bottom: 5px;
    }
}
.modal_chart_country {
    width: 80% !important;
}
.cursor_pointer {
    cursor: pointer;
}
.flag {
    margin-bottom: 5px;
}